{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    name: 'accountName',
    value: volume.accountName,
    id: 'accountName',
    label: "Account Name",
    required: "required",
    instructions: 'The name of you Azure Storage Account. Find this in your Azure Portal, select your Storage account and select "Access keys" then copy the "Storage account name".',
    suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
    id: 'accountKey',
    name: 'accountKey',
    value: volume.accountKey,
    label: "Account Key",
    required: "required",
    instructions: 'The Azure Storage Access key. Find this in your Azure Portal, select your Storage account and select "Access keys" then copy the key1 or key2 key.',
    suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
    id: 'containerName',
    name: 'containerName',
    value: volume.containerName,
    label: "Container Name",
    required: "required",
    instructions: 'The name of you Azure Storage Blob Container. Find this in your Azure Portal, select your Storage account then Blobs and enter the value from the "NAME" column.',
    suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
    id: 'subfolder',
    name: 'subfolder',
    value: volume.subfolder,
    label: "Subfolder",
    instructions: 'If you want to use a container’s subfolder as a Volume, specify the path to use here.',
    suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
    id: 'blobEndpointHostName',
    name: 'blobEndpointHostName',
    value: volume.blobEndpointHostName,
    label: "Blob Endpoint Host Name",
    instructions: 'The hostname of the Azure Storage Blob Endpoint to connect to. Use this if you have a non-standard Azure Storage Blob Endpoint or if you are connecting to a local Azure Storage Emulator. Leave blank to default to the standard Azure Storage Blob Endpoint.',
    suggestEnvVars: true,
}) }}

{{ forms.lightswitchField({
    id: 'httpsEnabled',
    name: 'httpsEnabled',
    label: "Enable HTTPS",
    instructions: 'Enable or disable HTTPS connections to the Azure Storage account. Disable if you need to connect to a local Azure storage emulator that doesn\'t support HTTPS.',
    on: volume.httpsEnabled,
    first: true,
}) }}