{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    name: 'accountName',
    value: volume.accountName,
    id: 'accountName',
    label: "Account Name",
    required: "required",
    instructions: 'The name of you Azure Storage Account. Find this in your Azure Portal, select your Storage account and select "Access keys" then copy the "Storage account name".',
    suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
    id: 'accountKey',
    name: 'accountKey',
    value: volume.accountKey,
    label: "Account Key",
    required: "required",
    instructions: 'The Azure Storage Access key. Find this in your Azure Portal, select your Storage account and select "Access keys" then copy the key1 or key2 key.',
    suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
    id: 'containerName',
    name: 'containerName',
    value: volume.containerName,
    label: "Container Name",
    required: "required",
    instructions: 'The name of you Azure Storage Blob Container. Find this in your Azure Portal, select your Storage account then Blobs and enter the value from the "NAME" column.',
    suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
    id: 'subfolder',
    name: 'subfolder',
    value: volume.subfolder,
    label: "Subfolder",
    instructions: 'If you want to use a container’s subfolder as a Volume, specify the path to use here.',
    suggestEnvVars: true,
}) }}
